.stats-grid {
  display: inline-grid;
  grid-template-columns: 50% auto;
  grid-gap: 0 10px;
  row-gap: 7px;
  color: gray;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;
  width: 300px;
  .grid-item {
    justify-content: center;
    align-content: center;
    display: inline-grid;
    background-color: ivory;
    border-radius: 10px;
  }
  .right {
    text-align: center;
  }
  .left {
    text-align: center;
  }
}

.abilities-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;
  flex: 1;
  .ability-row {
    grid-template-columns: 100%;
    width: 100%;
    grid-gap: 0 10px;
    row-gap: 7px;
    color: gray;
    background-color: ivory;
    border-radius: 10px;
    h4 {
      margin: 0.5rem 0;
      padding: 0.5rem;
    }
    p {
      margin: 0.5rem 0;
      padding: 0.5rem;
    }
  }
}

.element-row {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 4px;
  span {
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.35rem;
    border-radius: 5px;
    height: 20px;
  }
  .water {
    background-color: royalblue;
  }
  .bug {
    background-color: darkkhaki;
  }
  .psychic {
    background-color: mediumpurple;
  }
  .electric {
    background-color: khaki;
  }
  .normal {
    background-color: #888;
  }
  .fire {
    background-color: firebrick;
  }
  .grass {
    background-color: limegreen;
  }
  .poison {
    background-color: darkslateblue;
  }
  .ghost {
    background-color: mediumslateblue;
  }
  .steel {
    background: rgb(127, 134, 152);
    background-color: linear-gradient(
      45deg,
      rgba(127, 134, 152, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .fighting {
    background-color: maroon;
  }
  .flying {
    background: rgb(177, 177, 177);
    background: linear-gradient(
      216deg,
      rgba(177, 177, 177, 1) 0%,
      rgba(95, 168, 255, 1) 100%
    );
  }
  .dragon {
    background: rgb(137, 246, 255);
    background: linear-gradient(
      216deg,
      rgba(137, 246, 255, 1) 28%,
      rgba(68, 84, 255, 1) 100%
    );
  }
  .dark {
    background-color: darkslategrey;
  }
  .fairy {
    background: rgb(250, 170, 255);
    background: linear-gradient(
      216deg,
      rgba(250, 170, 255, 1) 0%,
      rgba(40, 170, 255, 1) 84%
    );
  }
  .ice {
    background-color: steelblue;
  }
  .rock,
  .ground {
    background-color: darkgoldenrod;
  }
}

.sprites-container {
  width: 100%;
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;

  .sprite-row {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: #888;
    justify-content: center;
    flex: 1;
  }
  .sprite-icon {
    color: #888;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pokemon-name {
}
.pokemon-id {
  color: gray;
}

.basic-info {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  text-align: left;
  flex-flow: wrap;
}
.info-row {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex: 0 0 100%;
  flex-wrap: wrap;
  .right {
    margin-left: auto;
  }
}
.info-column-100 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;
}
.info-column-50 {
  flex: 1;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;
  flex-basis: min-content;
}

.evolution-container {
  text-align: center;
}

.moves-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;

  .move-item {
    justify-content: center;
    align-content: center;
    background-color: ivory;
    border-radius: 10px;
    padding: 1rem;
    margin: 7px;
    display: inline-block;
    width: fit-content;
    &:hover {
      background-color: aquamarine;
      outline-color: none;
      border: none;
      transition: background-color 0.5s ease;
    }
  }
}
